
<section class="bg-cover bg-center h-screen ">
  <div class="bg-gray-700  h-full flex items-center justify-center">
    <div class="text-center text-white">
      <h2 class="text-4xl md:text-6xl font-bold">Tu vida fitnes empieza aquí</h2>
      <p class="mt-4 text-lg">Unete a GYMPRO para hacer tu sueño realidad</p>
      <a [routerLink]="[RutasPaginas.Membresias]" class="mt-6 inline-block bg-yellow-500 text-white px-6 py-3 rounded-full hover:bg-yellow-600">Empezar</a>
    </div>
  </div>
</section>
